{% extends 'default.html' %}
{% block title %} Accueil {% endblock %}

{% block content %}

<audio controls loop>
    <source src="/static/icecold.wav" type="audio/mpeg">
    Votre navigateur ne supporte pas l'élément audio.
</audio>

<style>
    body {
        font-family: 'Open Sans', sans-serif;
        color: #333;
        background-image: url('/static/index.webp'); /* Assurez-vous que le chemin est correct */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .content-container {
        max-width: 800px;
        margin: auto;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.5); /* Transparence ajustée */
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        border-radius: 8px;
    }
    h1 {
        color: #0056b3;
        font-weight: 600;
    }
    p {
        font-size: 16px;
        color: #666;
        line-height: 1.6;
    }
    .carousel-inner img {
        height: 500px; /* Hauteur fixe pour les images */
        object-fit: cover; /* Assure que les images couvrent l'espace sans être déformées */
    }
</style>

<div class="content-container">
    <h1>Accueil</h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicateurs -->
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
      
        <!-- Wrapper pour les slides -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/pic1.jpg" class="d-block w-100" alt="Image 1">
          </div>
          <div class="carousel-item">
            <img src="/static/pic2.jpg" class="d-block w-100" alt="Image 2">
          </div>
          <div class="carousel-item">
            <img src="/static/pic3.jpg" class="d-block w-100" alt="Image 3">
          </div>
          <div class="carousel-item">
            <img src="/static/pic4.jpg" class="d-block w-100" alt="Image 4">
          </div>
        </div>
      
        <!-- Contrôles Précédent et Suivant -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <p></p>
    {% if 'username' in session %}
        <p>Bienvenue {{ session.nom }}</p>
    {% endif %}
</div>

{% endblock %}


